/* Desktop
------------------------------------------ */

.desktop {
    position: absolute;
    top:34px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -500;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.desktop_bg {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: -501;
}
.desktop_bg.image {
    background-image: url(../img/bg/gradient_earth.jpg);
    background-color: transparent;
}

.desktop_bg.color {
    background-image: none;
}

.desktop_bg.fill {
    background-position: top left;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
