/* Output
------------------------------------------ */
.output, 
.output.active, 
.output.front {
    background: none !important;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.output {
    -webkit-box-shadow: 0 2px 5px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px 6px rgba(0, 0, 0, 0.2);
}
.output.active, .output.front {
    -webkit-box-shadow: 0 2px 20px 6px rgba(0, 0, 0, 0.4), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.6);
    box-shadow: 0 2px 20px 6px rgba(0, 0, 0, 0.4), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.6);
}

.output .title {
    display: block;
    position: relative;
    top: 0;
    left:0;
    margin: 0;
    text-align: left;
    border-radius: 5px 5px 0 0;
    height: 30px;
    padding: 12px 12px 0 12px;
    text-shadow: 1px 1px #666, 1px 1px #666;
    cursor: default;
    font-size: 14px;
    color: #666 !important;
    background: none; 
    /* white inset shadow */
    /*    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.7);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.7);*/
}

.output.active .title,
.output.front .title {
    display: block;
    background: rgb(237,237,237) !important; 
    background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(178,178,178,1) 90%) !important;  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(90%,rgba(178,178,178,1))) !important;  
    background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(178,178,178,1) 90%) !important;  
    background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(178,178,178,1) 90%) !important;  
    background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(178,178,178,1) 90%) !important;  
    background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(178,178,178,1) 90%) !important; 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#b2b2b2',GradientType=0 ) !important;  

}

.output.active .title {
    color: #333 !important;
}

.output.front .title {
    color: #999;
}

.output .title .resize-alert,
.output .title .live-alert {
    display: none;
}

.output .tools {
    padding: 0 !important;
    margin-top: -2px; 
    float: right;
}

.output .canvas_wrapper .tools {
    display: none !important;
}

.canvas_wrapper {
    position:relative;
    min-width: 100px;
    min-height: 100px;
    line-height: 0px;
    text-align: center;
}

.canvas_wrapper .pictures_container,
.canvas_wrapper .secondary_tools {
    display:none;
}


/* Output fullscreen. 
------------------------------------------ */
.win.output.fullscreen {
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.output.fullscreen .title {
    display:none !important;
}

.fullscreen .canvas_wrapper {
    position:absolute;
    height:100%;
    width:100%;
    background-color: #CCC;
    overflow: auto;
}

.fullscreen .canvas_wrapper canvas {
    top:0; 
    bottom:0; 
    left:0; 
    right:0;
    margin:auto;
    position:absolute;
    max-width: none;
    max-height: none;
    background-image: url("../img/gui/transparent_checker.gif") !important;
    background-position: top left !important;
    background-repeat: repeat !important;   
}
.output.fullscreen .canvas_wrapper .secondary_tools {
    display: inline-block !important;
    padding: 0;
    position: fixed;
    top:12px;
    right: 32px;
    z-index: 500;
}
.output.fullscreen .canvas_wrapper .secondary_tools a {
    font-size: 18px;
}
.output.fullscreen .canvas_wrapper .pictures_container {
    display:inline-block;
    position: fixed;
    top:48px;
    right: 32px;
    z-index: 499;
}
.output.fullscreen .canvas_wrapper .pictures_container img {
    max-height: 48px;
    float: left;
    margin-left: 10px;
    border: 5px solid #FFF;
    -webkit-box-shadow:  1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  1px 1px 1px 0px rgba(0, 0, 0, 0.2);
}