/* Project items in the finder
------------------------------------------ */

.projects {
    position: relative;
    overflow: hidden;
}

/*  Project  */

.projects .project {
    margin: 10px;
    padding: 5px;
    position:relative;
    float:left;
    top: 0;
    height: 236px;
    width: 200px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    /*border: 1px solid #CCC;*/
    background-color: #F6F6F6;
}
.projects .project:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.projects .project a:hover {
    text-decoration: none;
}
.projects .project.open {
    background-color: #eaeaea;
}

.projects .project .project_block {
    padding: 8px 0;
}

.projects .project .project_info .title {
    font-weight: bold;
    overflow: hidden;
    margin-top: 3px;
    color: #999;
}

.projects .project .project_info .description {
    display: none;
    margin-bottom: 8px;
    overflow: hidden;
}

/* Authors */

.authors {
    /*margin: 5px 0;*/
    margin-top: 3px;
    display:none;
}
.author_info {
    background-color: #F6F6F6;
}

.author_info a.author_link {
    color: #3B3B3B;
    text-decoration: none;
}

.author_info a.author_link:hover {
    color: #3B3B3B;
    text-decoration: none;
}


/*  Project appreciation  */
.projects .project.open .project_appreciation {
    border-top: 1px solid #DDD;
    box-shadow: 0 1px 0 0 #FFF inset;
}

.projects .project .project_appreciation {
    margin-top: 5px;
    border-top: 1px solid #E7E7E7;
    box-shadow: 0 1px 0 0 white inset;
    /*background-color: #F6F6F6;*/
    padding: 5px 8px;
    color: #7D7D7D;
}

.projects .project .vote_up,
.projects .project .views {
    font-size: 15px !important;
}

.projects .project .project_likes,
.projects .project .project_views {
    margin-right: 12px;
}
.projects .project .project_likes_count,
.projects .project .project_views_count {
    margin-left: 5px;
}


/* Cover image and tools */

.projects .project .cover_img {
    /*opacity: 0.72;*/
    width: 200px;
    height: 160px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.projects .project .cover_img img {
    width: 100%;
}

.projects .project:hover .project_tools {
    /*display:block;*/
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

.projects .project .project_tools {
    /*display:none;*/
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.4);
    /*background-color: #000;*/
    width:100%;
    height:100%;
}

.projects .project .project_tools:hover a {
    display:block;
}

.projects .project .project_tools a {
    display:none;
    background-color: #FFF;
    color: #333;
    font-size:16px;
    text-decoration: none;
    position: absolute;
    padding: 3%;
    height: 11%;
    width: 16%;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2), 0 1px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2), 0 1px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    background: rgb(237,237,237); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
}

.projects .project .project_tools a:hover {
    color: #049cdb;
    text-decoration: none;
}

.projects .project .project_tools a:active {
    margin-top: 1px;
}

.projects .project .project_tools a:hover:after {
    content: attr(title);
    position: absolute;
    width: 400%;
    padding:0;
    top: 120%;
    color: #FFF !important;
    font-size: 12px;
    z-index: 500;
    font-weight:bold;
    /*text-shadow: 0px 0px 3px  rgba(0, 0, 0, 0.8);*/
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

.projects .project .project_tools a.code:hover:after {
    left:0;
    text-align: left;
}
.projects .project .project_tools a.play:hover:after {
    /*margin-left:-50%;*/
    left:-150%;
    text-align: center;
}
.projects .project .project_tools a.fs:hover:after {
    /*margin-right:-25%;*/
    right:0;
    text-align: right;
}

.projects .project .project_tools a.code:active:after,
.projects .project .project_tools a.play:active:after,
.projects .project .project_tools a.fs:active:after {
    margin-top: -1px;
}

.projects .project .project_tools a.fs {
    top: 39%;
    right:10%;
}

.projects .project .project_tools a.play {
    top: 39%;
    left:39%;
}

.projects .project .project_tools a.code {
    top: 39%;
    left:10%;
}




.circle {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}