/assets/*
/files/*

/themes/classic/OLDjs/

/protected/config/

/protected/runtime/*

/httpdocs/
/build/

/nbproject/

**/.DS_Store
**/_notes
**/_notes/


.bowerrc
bower.json

TODO.html
/scripts/tpl/OLDCollection.html
/forum/
/docs/
/scripts/models/OLDCollection.js
/scripts/collections/OLDIdes.js
/scripts/collections/OLDCollections.js
/scripts/tpl/OLDPopup.html
/scripts/tpl/OLDFinder.html
/scripts/tpl/OLDCollectionItem.html
/scripts/views/OLDCollection/
/protected/controllers/actions/OLDCollectionReadAction.php
/protected/controllers/OLDCollectionController.php
/protected/models/OLDCollection.php
/node_modules/