/* Finder 
--------------------------- */

.finder {
    position:absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    overflow: auto;
    background-color: #F4F4F4;

    /*Grey-white gradient bg*/
/*    background: rgb(237,237,237);
    background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(255,255,255,1) 25%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(25%,rgba(255,255,255,1)));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 25%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 25%);  Opera 11.10+ 
    background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 25%);  IE10+ 
    background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 25%);  W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 );  IE6-9 */
    
/*    -webkit-box-shadow:  0 2px 10px 3px rgba(0, 0, 0, 0.2), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.6);
    box-shadow:  0 2px 10px 3px rgba(0, 0, 0, 0.2), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.6);*/
}
.finder.active {
    display:block;
}

.content_wrapper {
    padding: 30px 20px 20px 20px;
}

#finder_tabs li {
    margin: 0 10px;
    font-size: 16px
}