/* Desktop icons
------------------------------------------ */

.icon {
    cursor:pointer;
    text-align:center;
    min-width:64px;
    max-width:128px;
    z-index: -100 !important;
    color:#FFF;
    line-height: 17px;
    display:none;
    margin: 25px;
}
.icon img {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    width:64px;
    height:64px;
    border-radius: 9px;
}
.icon span {
    display:block;
    text-shadow: 1px 2px 1px #000;
}