<div class="title title-shadow"><%= name %></div>

<div class="tools"><ul>
	<li class="play circle p5_icons box-shadow" title="Play">
	    <span class="icon-stack">
		<i class="icon-play"></i>
	    </span>
	</li>
	<li class="pause circle p5_icons box-shadow" title="Pause">
	    <span class="icon-stack">
		<i class="icon-pause"></i>
	    </span>
	</li>
	<li class="refresh circle p5_icons box-shadow" title="Play Again">
	    <span class="icon-stack">
		<i class="icon-refresh"></i>
	    </span>
	</li>
	<li class="stop circle p5_icons box-shadow" title="Stop">
	    <span class="icon-stack">
		<i class="icon-stop"></i>
	    </span>
	</li>
	<li><em>&nbsp;</em></li>
	<li class="save p5_icons box-shadow" title="Save">
	    <span class="icon-stack">
		<i class="icon-save"></i>
	    </span>
	</li>
	<li class="autosave p5_icons box-shadow">
	    <span class="icon-stack">
		<i class="icon-cloud-upload"></i>
	    </span>
	</li>
	<li class="livecode p5_icons box-shadow" title="Live Code">
	    <span class="icon-stack">
		<i class="icon-bolt"></i>
	    </span>
	</li>
	<li class="toggle_console p5_icons box-shadow" title="Console">
	    <span class="icon-stack">
		<i class="icon-terminal"></i>
	    </span>
	</li>
<!--	<li class="export p5_icons box-shadow" title="Download">
	    <span class="icon-stack">
		<i class="icon-download-alt"></i>
	    </span>
	</li>
	<li class="settings p5_icons box-shadow" title="Settings">
	    <span class="icon-stack">
		<i class="icon-wrench"></i>
	    </span>
	</li>-->
	<li class="delete p5_icons box-shadow" title="Delete">
	    <span class="icon-stack">
		<i class="icon-trash"></i>
	    </span>
	</li>
	<li class="tools_title"></li>
    </ul>
    <div class="secondary_tools pull-right">
	<a class="max text_shadow medium_size" title="Maximize"><i class="icon-plus"></i></a>
	<a class="min text_shadow medium_size" title="Minimize"><i class="icon-minus"></i></a>
	<a class="exit text_shadow large_size" title="Close"><i class="icon-remove"></i></a>
    </div>
</div>

<div class="nav_container">
    <ul class="nav nav-tabs">
	<li id="ts<%= id %>" class="text_shadow tab_selector"></li>
	<li id="new_tab" class="add_tab plus_tab text_shadow"><i class="icon-plus-sign-alt"></i></li>
    </ul>
</div>

<div class="code_wrapper tab-content"></div>

<div class="footer">
    <div class="console"></div>
    <div class="status">1</div>
</div>


